<div class="p-4 border-[1px] border-gray-200 rounded-md">
  <div class="flex items-start justify-between gap-2">
    <div class="flex flex-wrap gap-1">
      <app-pill [colorVariant]="4" [small]="true">Priority 1</app-pill>
      <app-pill [colorVariant]="3" [small]="true">Priority 2</app-pill>
      <app-pill [colorVariant]="2" [small]="true">Priority 3</app-pill>
      <app-pill [colorVariant]="1" [small]="true">Priority 4</app-pill>
    </div>
    <button class="w-3">
      <svg
        class="w-full"
        width="11"
        height="11"
        viewBox="0 0 11 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.27207 1.25736L9.75736 9.74264M9.75736 1.25736L1.27208 9.74264"
          stroke="black"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <app-editable-title
    [textClasses]="'mt-4'"
    [textContent]="'Ummm, watch some netflix I guess? Like I don’t know'"
  />
  <app-editable-title
    [multitext]="true"
    [textClasses]="'mt-2 text-xs'"
    [textContent]="
      'Then, I want to post a snapchat story. We’re gonna all die anyway. So, why not die with a good snapchat story.'
    "
  />
</div>
