<div
  class="bg-white p-4 border-[1px] flex flex-col gap-2 border-gray-200 rounded-md"
>
  <div class="flex items-start justify-between gap-2 mb-2">
    <div class="flex flex-wrap gap-1">
      <app-pill [colorVariant]="4" [small]="true">Priority 1</app-pill>
      <app-pill [colorVariant]="3" [small]="true">Priority 2</app-pill>
      <app-pill [colorVariant]="2" [small]="true">Priority 3</app-pill>
      <app-pill [colorVariant]="1" [small]="true">Priority 4</app-pill>
    </div>
    <button id="delete-task-btn" class="w-3" (click)="onDelete()">
      <svg
        class="w-full"
        width="11"
        height="11"
        viewBox="0 0 11 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.27207 1.25736L9.75736 9.74264M9.75736 1.25736L1.27208 9.74264"
          stroke="black"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <app-editable-title [textContent]="title" />
  @if (description.length > 0) {
    <app-editable-title
      [multitext]="true"
      [textClasses]="'text-xs'"
      [textContent]="description"
    />
  }
</div>
