<div class="max-w-[1280px] mx-auto px-4 sm:px-8 min-h-screen">
  <section class="text-center mt-12 mb-8">
    <h1 class="text-4xl mb-4">Project Planner</h1>

    <p class="opacity-70">
      Use this to keep track of tasks&#44; or however way you want to use it
    </p>
  </section>

  <section class="flex gap-4 pb-8 overflow-auto">
    <app-plan class="flex-1" [headerTitle]="'Card Header 1'" />
    <app-plan class="flex-1" [headerTitle]="'Card Header 2'" />
    <app-plan class="flex-1" [headerTitle]="'Card Header 3'" />
  </section>
</div>
