@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
  --heading: 'Raleway', sans-serif;
  --shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  --round: 3px;
  --roundLg: 10px;
  --font: #1b4058;
  --light: #fff;
  --darkerLight: #f5f5f5;
  --primary: #63a5f9;
  --primaryLight: #bdd7f9;
  --success: #24dd96;
  --error: #f11c1c;
  --google: #dd493d;
  --googleLight: #f5998e;
  --borderColor: #c3bfcc;
  --spacehalf: 0.5rem;
  --space1: 1rem;
  --space1half: 1.5rem;
  --space2: 2rem;
  --space3: 3rem;
  --space4: 4rem;
  --space5: 5rem;
  --spaceTop: 8rem;
  --sizeLg: 3rem;
  --sizeSm: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
p,
i,
label {
  color: var(--font);
}

.container {
  padding: 0 var(--space2);
  max-width: 1000px;
  margin: 0 auto;
}

img {
  display: block;
}

input:focus,
button:focus {
  outline: none;
}

input:not([type='submit']),
textarea {
  width: 100%;
  display: block;
  font-size: var(--space1);
  margin-top: var(--spacehalf);
  margin-bottom: var(--space1);
  padding: var(--spacehalf);
  border-radius: var(--round);
  border: 1px solid var(--borderColor);
}

textarea {
  resize: none;
}

form {
  width: 100%;
}

input[type='submit'],
button {
  border-radius: var(--round);
  text-transform: uppercase;
}

input[type='submit']:disabled,
button:disabled {
  opacity: 0.5;
}

input[type='submit'] {
  background: var(--primary);
  color: var(--light);
}

.divider {
  height: 1px;
  margin: var(--space2) 0;
  background: var(--borderColor);
}

input:not([type='submit']):focus,
textarea:focus {
  border: 1px solid var(--primary);
  outline: none;
}

input:not([type='submit'])::placeholder,
textarea::placeholder {
  font-size: var(--sizeSm);
  color: var(--borderColor);
}

button,
input[type='submit'] {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

a {
  color: var(--primary);
}

.error {
  color: var(--error);
  background: var(--light);
  border: 1px solid var(--error);
  padding: var(--spacehalf);
  border-radius: var(--round);
  font-size: var(--sizeSm);
}
.success {
  color: var(--light);
  background: var(--success);
  padding: var(--spacehalf);
  border-radius: var(--round);
  font-size: var(--sizeSm);
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
}

.loader img {
  width: var(--space3);
}
