<span
  (click)="onPillClick()"
  class="w-full flex justify-between items-center py-1 px-2 rounded-md font-bold text-pretty text-white inline-block align-top"
  [ngClass]="{
    'ring-2 ring-black': selected,
    'bg-gray-500': colorVariant === 1,
    'bg-blue-500': colorVariant === 2,
    'bg-amber-500': colorVariant === 3,
    'bg-red-500': colorVariant === 4,
    'text-[0.6rem]': small
  }"
  ><ng-content></ng-content>
  @if (close) {
    <button id="close-icon" class="inline w-2" (click)="onCloseClick()">
      <svg
        class="w-full stroke-white"
        width="11"
        height="11"
        viewBox="0 0 11 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.27207 1.25736L9.75736 9.74264M9.75736 1.25736L1.27208 9.74264"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  }
</span>
